body {
  border: solid 0px red;
  font-family: 'Raleway', sans-serif;
}

html {
  height: 200%;
  padding-top: 75px;
}

.container-fluid {
   padding-left: 260px;
   padding-right: 260px;
}

/* Nav bar with Headroom.js  */

.navbar{
  text-align: center;
}

.headroom {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  z-index: 9998;
}

.headroom--unpinned {
  top: -100px;
}

.headroom--pinned {
  top: 0;
}

/* end nav bar */
