@font-face {
  font-family: 'Hussar3dFour';
  src: url("../fonts/Hussar3DFour.ttf");
}

body {
  border: solid 0px red;
  font-family: 'Raleway', sans-serif;
}

html {
  height: 200%;
  padding-top: 75px;
}

.container-fluid {
  padding-left: 260px;
  padding-right: 260px;
}
.main-body{
  padding-left: 30px;
  padding-right: 30px;
}

/*
  Nav bar with Headroom.js
*/

.navbar {
  text-align: center;
}

.headroom {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  z-index: 9998;
}

.headroom--unpinned {
  top: -100px;
}

.headroom--pinned {
  top: 0;
}

.large-3d-font {
  font-family: Hussar3dFour !important;
  font-size: 100px !important;
  opacity: 1;
  font-weight: bold;
}

.city-background {
  background-image: url("../images/cartoon-city.jpg");
  border: solid 1px black;
}

.city-background::after {
  content: url('../images/cartoon-city.jpg');
  visibility: hidden;
}

/*
  end nav bar
*/

/*
  Add shadows to the images
*/

.blog-img-border {
  border: solid 1px #eee;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.4);
}

/*
  The tape class adds a piece of tape to the item it contains.
*/

.tape {
  display: inline-block;
  position: relative;
}

.tape::before {
  content: "";
  position: absolute;
  width: 40%;
  height: 10%;
  top: -5%;
  left: 30%;
  background: rgba(255, 255, 255, 0.5);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.4);
}

.shadowify {
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.4);
}

/*
  Scroll Magic
*/

.about-mutant-dot-city {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-is {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sc-bcg {
  position: absolute;
  top: -5px;
  width: 100%;
  height: 100%; //z-index: 1;
  border: solid 0px red;
  background: url("../images/cartoon-city.jpg") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#sc-slide01 {
  //background: url("../images/cartoon-city.jpg") no-repeat center center;
  //background-size: cover;
}

/* .sc-slide .sc-row {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: white;
    text-align: center;
}

.sc-intro {
    background: #305a5b;
}

.sc-parallax {
    background: url("../images/cartoon-city.jpg") 50% 0;
}

.sc-slidein {
    background: #5b3030;
}

.sc-slidein2 {
    background: #304b5b;
}

.sc-slidein2 .sc-row {
    justify-content: space-around;
} */
