<!doctype html>
<html>
  <%= partial "partials/head" %>
  <body>
    <div>
      <%= partial "partials/navbar" %>
      <%= yield %>
    </div>
    <%= partial 'partials/javascript' %>
  </body>
</html>
