<!doctype html>
<html>
  <%= partial "partials/head" %>
  <body>
    <div class="container-fluid">
      <%= partial "partials/navbar" %>

      <div id="main" role="main">
        <%= yield %>
      </div>
    </div>

    <%= javascript_include_tag 'bundle.js' %>
  </body>
</html>
