<article class="sc-bcg">
  <div class="about-mutant-dot-city">
    <div id="about-mutant">
      <div class="large-3d-font">Mutant</div>
    </div>
    <div id="about-dot" class="large-3d-font">
      <div>.</div>
    </div>
    <div id="about-city" class="large-3d-font">
      <div>City</div>
    </div>
  </div>
  <div class="about-is">
    <div class="large-3d-font">
      <div id="sc-left">is:</div>
    </div>
  </div>
</article>

<!-- <div id="sc-container" class="city-background"> <div class="sc-slidein2 sc-slide" id="sc-slidein2"> <div class="sc-row"> <div id="sc-left" > <div class="large-3d-font">Mutant</div> </div> <div id="sc-opacity" class="large-3d-font"> <div>.</div>
</div> <div id="sc-bottom" class="large-3d-font"> <div>City</div> </div> </div> <div class="sc-row"> <div class="large-3d-font"> <div id="sc-left">IS</div> </div> </div> </div> </div> -->

<!-- <div id="sc-container"> <div class="sc-parallax sc-slide" id="sc-parallax"> <div class="sc-row"> <h1>Parallax background</h1> </div> </div> </div> -->

<!-- <div class="sc-slidein sc-slide" id="sc-slidein"> <div class="sc-row"> <h1>Slide and pin</h1> </div> </div> -->
<!-- <div class="sc-slidein2 sc-slide" id="sc-slidein2"> <div class="sc-row"> <div id="sc-left"> <h1>From left</h1> </div> <div id="sc-opacity"> <h1>Fade in</h1> </div> <div id="sc-bottom"> <h1>From bottom</h1> </div> </div> </div> -->
