---
title: People
image: https://drive.google.com/uc?id=1M2-ku8gfe2QzBBOGJyzilp88v0itgc_W
layout: page_layout
---

<p class="the_content">Hi I'm Nick. Thanks for checking out the site!</p>
<p>
  <u>Contacts(base64 enc)</u>
</p>
<p>
  <strong>Email: bmlja2tpZXJtYWllckBnbWFpbC5jb20=</strong><br/>
  <strong>Phone: NTA0NDAwNTUxOQ==</strong>
</p>
