<div id="container">

  <div id="block" class="test1">
    Hi there !
  </div>

  <div id="block2" class="test1">
    Ayyy yo!
  </div>

  <div id="block3" class="test1">
    Ayyy yo!
  </div>

</div>